@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
  scroll-behavior: smooth;
  /* scroll-snap-type: proximity;
} */

.scroll_behavior{
 scroll-behavior: smooth;
}

@media print {
  .page-break {
    margin-top: 1rem;
    padding: 1rem; 
    display: block;
    page-break-before: auto;
  }
}

textarea::-webkit-scrollbar{
  width: 2px;
}

.sidebar_height{
  height: calc(100vh - 78px);
}

.single_page{
  height: calc(100vh - 64px);
}

.taskManager_page{
  height: calc(100vh - 100px);
}

.code_page{
  height: calc(100vh - 370px);
}

.comment_page{
  height: calc(100vh - 150px);
}

.welcome{
  height: calc(100vh - 64px);
}

.left_container{
  height: calc(100vh - 80px);
}

.sidebars::-webkit-scrollbar{
  width: 1px;
}

.font_style{
  font-family: 'Roboto', sans-serif;
}

/* CUSTOM FONTS */
.open_sans{
  font-family: 'Open Sans', sans-serif;
}
.poppins_style{
  font-family: 'Poppins', sans-serif;
}
.inter_style{
  font-family: 'Inter', sans-serif;
}
.dancing_style{
  font-family: 'Dancing Script', cursive;
}
.dosis_style{
  font-family: 'Dosis', sans-serif;
}

html, body { height: 100%; }
body {
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.slide_off{
  animation: slide_out 0.2s forwards;
}

@keyframes slide_out {
  0% {
    transform: translateY(-15%);
    z-index: -20;
  }
  25% {
    transform: translateY(-30%);
    z-index: -40;
  }
  50% {
    transform: translateY(-45%);
    z-index: -60;
  }
  75% {
    transform: translateY(-60%);
    z-index: -80;
  }
  100% {
    transform: translateY(-75%);
    z-index: -100;
    display: none;
  }
}

.slide_on{
  animation: slide_in 0.25s forwards;
}

@keyframes slide_in {
  0% {
    transform: translateY(30%);
  }
  25% {
    transform: translateY(60%);
    z-index: 25;
  }
  50% {
    transform: translateY(90%);
    z-index: 50;
  }
  75% {
    transform: translateY(120%);
    z-index: 75;
  }
  100% {
    transform: translateY(150%);
    z-index: 100;
    display: block;
  }
}

.sidebar_off{
  animation: sidebar_slide_out 0.2s forwards;
}

@keyframes sidebar_slide_out {
  0% {
    transform: translateX(-15%);
    z-index: -20;
  }
  25% {
    transform: translateX(-30%);
    z-index: -40;
  }
  50% {
    transform: translateX(-45%);
    z-index: -60;
  }
  75% {
    transform: translateX(-60%);
    z-index: -80;
  }
  100% {
    transform: translateX(-75%);
    z-index: -100;
    display: none;
  }
}

.sidebar_on{
  animation: sidebar_slide_in 0.25s forwards;
}

@keyframes sidebar_slide_in {
  0%{
    transform: translateX(30%);
  }
  25% {
    transform: translateX(60%);
    z-index: 25;
  }
  50% {
    transform: translateX(90%);
    z-index: 50;
  }
  75% {
    transform: translateX(120%);
    z-index: 75;
  }
  100% {
    transform: translateX(158px);
    z-index: 100;
    display: block;
  }
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.app::-webkit-scrollbar{
  width: 1px;
}

.hidebars::-webkit-scrollbar{
  width: 1px;
  height: 0;
}

.taskbars::-webkit-scrollbar{
  width: 3px;
  background-color: rgb(114, 113, 113);
}

.taskbars::-webkit-scrollbar-thumb{
  background-color: rgb(114, 113, 113);
}

.taskbars::-webkit-scrollbar-track{
  background-color: rgba(2, 220, 247, 0.4);
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(250,250,250,0.4);
}

.stackflow::-webkit-scrollbar{
  width: 2px;
  height: 2px;
  background-color: rgb(114, 113, 113);
}

.stackflow::-webkit-scrollbar-thumb{
  background-color: rgb(114, 113, 113);
}

.stackflow::-webkit-scrollbar-track{
  background-color: rgba(2, 220, 247, 0.4);
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(250,250,250,0.4);
}

.hideCodeBars::-webkit-scrollbar{
  width: 1px;
  height: 1px;
  background-color: rgb(114, 113, 113);
}

.hideCodeBars::-webkit-scrollbar-thumb{
  background-color: rgb(114, 113, 113);
}

.hideCodeBars::-webkit-scrollbar-track{
  background-color: rgba(2, 220, 247, 0.4);
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(250,250,250,0.4);
}

